[Desktop Entry]
Name=Duck Marines
Comment=Duck Marines is a cross-platform free software remake of Sonic Team's Chu ChuRocket for the Sega Dreamcast.
Exec=/usr/bin/love /usr/share/duckmarines/duckmarines.love
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
